@import "../../styles/common";

.footer {
  background-color: $bg-dark;

  .top {
    padding: 80px 0 30px;
  }

  .bottom {
    padding: 30px 0;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .heading {
    color: $text-subtitle;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 30px;
  }

  .bottom {
    background-color: $bg-darker;
    color: #fff;
  }

  .top .container {
    display: flex;
    justify-content: space-between;
  }

  .row {
    display: flex;

    * {
      margin-right: 15px
    }
  }

  .list {
    color: $text-normal;
    font-weight: 300;

    * {
      margin-bottom: 10px;
    }
  }

  .sub {
    color: $text-normal;
    font-size: 1.5em;
    margin-top: 10px;
  }

  @include medium {
    .top .container {
      flex-direction: column;

    }

    .left,
    .middle {
      margin-bottom: 50px;
    }
  }
}