@import "../../styles/common";

.container {
  width: 100%;
  background: url(/bg.jpeg);


  display: flex;
  flex-direction: column;
  min-height: 100vh;

  * {
    font-family: Montserrat, sans-serif;
  }
}

.content {
  flex-grow: 1;
  margin-top: 100px;

  @include medium {
    margin-top: 80px;
  }
}