@import "../../styles/common", "./profile";

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  min-height: 150px;

  display: flex;

  .group {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    >* {
      margin-right: 10px;
    }


    .icon {
      background-color: $text-title;
      color: white;
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }

    .input {
      width: 230px;
    }

  }

  .badge {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -115px;
    text-align: center;
    word-wrap: break-word;
    max-width: 150px;


    .username {
      font-weight: 700;
      color: $text-subtitle;
      font-size: 1.3em;
      margin-top: 10px;
    }

    .date {
      color: #fff;
      font-size: 0.9em;
    }

    .avatar {
      border-radius: 50%;
      background-color: $our-purple;
      width: 150px;
      height: 150px;
    }
  }

}

.bar {
  border-bottom: 1px solid white;
}