@import "../styles/common";

.input {
  background-color: $our-yellow;
  border-radius: 20px;
  padding: 3px 15px;
  color: $text-dark;

  &::placeholder {
    color: rgba($text-dark, 0.5);
  }
}

.btn {
  padding: 7px 17px;
  border-radius: 20px;
  text-transform: uppercase;
  color: $text-normal;
  background-color: $our-red;
  color: $text-normal;

  &:active {
    background-color: $btn-click;
  }

}