@import "../styles/common";

.card {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: black;

  width: 100%;
  height: 100%;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-dark, 0.1);
    background-blend-mode: multiply;
    transition: background-color .3s ease;
    border-radius: 10px;
  }


  .image {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    transition: transform .3s ease-in-out;

  }

  &:hover {
    &::after {
      background-color: rgba($bg-dark, 0.3);
    }

    .image {
      transform: scale(1.07);
    }
  }
}