@import "../styles/common";

.row {
  display: flex;
  margin: auto 0;
  width: 80%;

  .register {
    width: 40%;
  }

  .login {
    width: 60%;
    background: white;
    padding: auto;
  }

  @include medium {
    flex-direction: column;

    .register {
      width: 100%;
      margin-bottom: 50px;
    }

    .login {
      width: 100%;
    }
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 80px 0 100px;
}