@import "../styles/common", "../components/forms/forms";

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

  .heading {
    color: $text-title;
    font-weight: 700;
    font-size: 2.3em;
  }

  .sub {
    color: $text-subtitle;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;

  @include medium {
    width: 70%;
  }
}


.submit {
  color: white;
  background: $our-red;
  padding: 13px 20px;
  border-radius: 77px;
  font-weight: 700;

  width: 40%;
  margin: 20px auto 30px;

  @include medium {
    width: 70%;
  }
}

.textbox {
  width: 60%;
  margin: 20px auto 0;

  @include medium {
    width: 100%;
  }
}