$btn-normal: #dd5a57;
$btn-click: #ac3c2f;
$our-red: $btn-normal;
$our-blue: #4a6aad;
$our-yellow: #fdf1c2;
$bg-dark: #26314a;
$text-title: #4fb1ca;
$text-subtitle: #f3c146;
$text-normal: $our-yellow;
$text-dark: #26314a;