@import "../../styles/common";

.container {
  background-color: $our-blue;
  text-align: center;
  display: flex;
  flex-direction: column;

  h1,
  h4,
  label {
    color: white;
  }

  .heading {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.2rem;
  }

  input {
    margin: 10px 0;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  a {
    color: $our-yellow;
  }
}

.content {
  width: 80%;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.submit {
  color: white;
  padding: 13px 0;
  width: 80%;
  margin: 20px auto 20px;
  border-radius: 77px;
  font-weight: 700;
  border: 2px solid white;
}

.checkboxes {
  text-align: start;
  display: flex;
  flex-direction: column;
}

@import "forms";